*,
*::after,
*::before { 
   box-sizing: border-box;
} 

body {
    font-family: 'century gothic', 'sans-serif';
    background-color: #feffd9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ff9779' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/* CONTAINERS */
.a-b-container,
.c-container {
    max-width: 43.5rem;
    padding: .6em;
    margin: auto;
    border-radius: .6em;
    box-shadow: 2px 2px 20px;
}

.a-b-container{
    background-color:rgba(255, 231, 163, 0.774);  
}

.c-container {
    margin-top: 10px;
    background-color: rgba(220, 20, 60, 0.774);
}

.flex-container__a,
.flex-container__b,
.flex-container__c,
.flex-container__d { 
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding-top: .3em;
    padding-bottom: .6em;
    margin: auto;
    gap: .6em;
}


/* TITLES */
.head-title {
    padding: .6em;
    border-radius: .6em;
    text-align: center;
    background-color: rgba(56, 167, 104, 0.486);
}

.title__a,
.title__b,
.title__c {
    padding-top: .6em;
    padding-bottom: .6em;
    margin: .6em auto .3em auto;
    border-radius: .3em;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgb(190, 3, 40);
}


/* NUMS */
.nums {
    width: 3.5rem;
    border-radius: 50%;
    line-height: 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.selected-item {
    width: fit-content;
    padding: .6em 1em;
    margin-bottom: .6em;
    border-radius: .5em;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: rgb(1, 131, 66);
    transition: background-color .2s ease-in;
}


/* BUTTONS */
.confirmation-btn {
    height: 2.5rem;
    width: 6.25rem;
    margin-top: .6em;
    background-color: rgb(0, 0, 0);
    border-radius: .5em;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
}

.result__btn {
    width: 5rem;
    height: 3.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .7em;
    border-radius: .6em;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: rgb(0, 0, 0);
}

.result__btn:hover {
    background-color: rgb(94, 255, 174);
    transition: background-color .4s ease-in-out;
}

.nums:hover,
.confirmation-btn:hover {
    background-color: rgb(1, 131, 66);
    transition: background-color .2s ease-in-out;
}


/* MODAL */
.result-msg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    transform: scale(0,0);
    position: absolute;
    z-index: 50;
    top: 10rem;
    right: 0;
    left: 0;
    padding: .6em;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5em;
    box-shadow: 2px 2px 20px;
    background-color: rgb(1, 131, 66);
}

.show-result {
    transform: scale(1,1);
    transition: transform .3s ease-in-out;
}

.result__text {
    padding: .4em;
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color:#fff;
}

